<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/4fc01b7247.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="bg-dark">
      <div class="container">
       <nav class="d-flex navbar navbar-expand-lg navbar-dark">
           <a class="navbar-brand " href="/">Bookers</a>
           <div class="ml-auto">
            <% if user_signed_in? %>
            <ul class="navbar-nav">
              <%= link_to "Home",user_path(current_user), class: "text-light nav-link fas fa-home"%>
              <%= link_to "Users",users_path, class: "text-light nav-link fas fa-users"%>
              <%= link_to "Books",books_path, class: "text-light nav-link fas fa-book-open"%>
              <%= link_to "logout",destroy_user_session_path,method: :delete, class: "text-light nav-link fas fa-sign-out-alt"%>
            </ul>
            <%else%>
            <ul class="navbar-nav">
              <%= link_to "Home",root_path, class: "text-light nav-link fas fa-home"%>
              <%= link_to "About",home_about_path, class: "text-light nav-link fas fa-link"%>
              <%= link_to "sign up",new_user_registration_path, class: "text-light nav-link fas fa-user-plus"%>
              <%= link_to "login",new_user_session_path, class: "text-light nav-link fas fa-sign-in-alt"%>
            </ul>
            <%end%>
           </div>
         </div>
       </nav>
    </header>

    <div class="row">
  <div class="col-xs-6 col-xs-offset-3 text-center" style="margin-top: 25px;">
    <% if user_signed_in? %>
      <%= form_with url:search_path, method: :get, local: true do |f| %>
        <%= f.text_field 'search[value]' %>
        <%= f.select 'search[model]', options_for_select({ "User" => "user", "Book" => "book" }) %>
        <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
        <%= f.submit :"検索" %>
      <% end %>
    <% end %>
  </div>
</div>

        <%= notice%>

    <%= yield %>

    <footer class=" container mt-5">
          <p class="text-center">CopyRight infratop.inc</p>
    </footer>


  </body>
</html>
